<h1 mat-dialog-title>Empresas</h1>
<div mat-dialog-content>
    <form class="row" #f="ngForm" [formGroup]="this.form">
        <label style="color:white;">This dialog showcases the title, close, content and actions
            elemen</label>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Tipo documento: </mat-label>
                <mat-select id="TipoDocumento" #TipoDocumento formControlName="TipoDocumento">
                    <mat-option [value]="tiposDocs.id" *ngFor="let tiposDocs of listDocs; let i = index">
                        {{tiposDocs.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Documento:</mat-label>
                <input type="text" matInput #Documento placeholder="Documento" formControlName="Documento"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Digito de verificación:</mat-label>
                <input type="text" matInput #DigitoVerificacion placeholder="Digito de verificación"
                    formControlName="DigitoVerificacion" [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Nombre:</mat-label>
                <input type="text" matInput #Nombre placeholder="Nombre" formControlName="Nombre"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Descripcion:</mat-label>
                <input type="text" matInput #Descripcion placeholder="Descripcion" formControlName="Descripcion"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Observacion:</mat-label>
                <input type="text" matInput #Observacion placeholder="Observacion" formControlName="Observacion"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Tipo de empresa: </mat-label>
                <mat-select id="IdTipoEmpresa" #IdTipoEmpresa formControlName="IdTipoEmpresa">
                    <mat-option [value]="tiposDocs.id" *ngFor="let tiposDocs of listTipoEmpresa; let i = index">
                        {{tiposDocs.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Adminitrador: </mat-label>
                <mat-select id="IdUsuario" #IdUsuario formControlName="IdUsuario">
                    <mat-option [value]="usuario.id" *ngFor="let usuario of listUsuario; let i = index">
                        {{usuario.cedula}} - {{usuario.nombreUsuario}} {{usuario.apellidosUsuario}}
                    </mat-option>
                    <mat-option [value]="'0'">
                        Registrar usuario
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6" [ngStyle]="{'display': (this.data.estado == undefined ? 'block' : 'none')}">
            <mat-form-field appearance="outline">
                <mat-label>Estado: </mat-label>
                <mat-select id="IdEstado" #IdEstado formControlName="IdEstado">
                    <mat-option [value]="estado.id" *ngFor="let estado of estadosList; let i = index">
                        {{estado.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" [ngStyle]="{'display': 'none'}">
                <mat-label>Ministerio: </mat-label>
                <mat-select id="IdMinisterio" #IdMinisterio formControlName="IdMinisterio">
                    <mat-option [value]="tiposDocs.id" *ngFor="let tiposDocs of listMinisterios; let i = index">
                        {{tiposDocs.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <form class="row" #f="ngForm" [formGroup]="this.formUser" *ngIf="this.form.value.IdUsuario == '0'">
        <label style="color:white;">This dialog showcases the title, close, content and actions
            elemen</label>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Tipo documento: </mat-label>
                <mat-select id="IdTypeDocument" #IdTypeDocument formControlName="IdTypeDocument">
                    <mat-option [value]="tiposDocs.id" *ngFor="let tiposDocs of listDocs; let i = index">
                        {{tiposDocs.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Documento:</mat-label>
                <input type="text" matInput #Document placeholder="Documento" formControlName="Document"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Nombre:</mat-label>
                <input type="text" matInput #Names placeholder="Nombre" formControlName="Names"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Apellidos:</mat-label>
                <input type="text" matInput #Surnames placeholder="Apellidos" formControlName="Surnames"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Contraseña:</mat-label>
                <input type="password" matInput #Password placeholder="Contraseña" formControlName="Password"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Email:</mat-label>
                <input type="email" matInput #Email placeholder="Email" formControlName="Email"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Numero:</mat-label>
                <input type="text" matInput #PhoneNumber placeholder="Numero" formControlName="PhoneNumber"
                    [readonly]="this.option == 'view'">
            </mat-form-field>
        </div>
        <div class="col-md-6" [ngStyle]="{'display': (this.form.value.IdUsuario != '0' ? 'block' : 'none')}">
            <mat-form-field appearance="outline">
                <mat-label>Role: </mat-label>
                <mat-select id="IdRol" #IdRol formControlName="IdRol">
                    <mat-option [value]="rol.id" *ngFor="let rol of listRoles; let i = index">
                        {{rol.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Pais: </mat-label>
                <mat-select id="IdCountry" #IdCountry formControlName="IdCountry">
                    <mat-option [value]="pais.id" *ngFor="let pais of listPaises; let i = index">
                        {{pais.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6" [ngStyle]="{'display': (this.form.value.IdUsuario != '0' ? 'block' : 'none')}">
            <mat-form-field appearance="outline">
                <mat-label>Empresa: </mat-label>
                <mat-select id="IdCompany" #IdCompany formControlName="IdCompany">
                    <mat-option [value]="empresa.id" *ngFor="let empresa of listEmpresas; let i = index">
                        {{empresa.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-6" [ngStyle]="{'display': (this.viewStatus ? 'block' : 'none')}"> -->
        <div class="col-md-6" [ngStyle]="{'display': (this.form.value.IdUsuario != '0' ? 'block' : 'none')}">
            <mat-form-field appearance="outline">
                <mat-label>Estado: </mat-label>
                <mat-select id="IdEstado" #IdEstado formControlName="IdEstado">
                    <mat-option [value]="estado.id" *ngFor="let estado of estadosList; let i = index">
                        {{estado.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="onSave()" cdkFocusInitial [disabled]="this.form.invalid"
        *ngIf="this.form.value.IdUsuario != '0'">Registrar.</button>
    <button mat-button (click)="onSave()" cdkFocusInitial [disabled]="this.form.invalid && this.formUser.invalid"
        *ngIf="this.form.value.IdUsuario == '0'">Registrar</button>
</div>